:root {
    --title-panel-width: 270px;
}

#app {
    color: white;
}
.content, .title, .header, .search-box {
    position: fixed;
    border-radius: 6px;
}
.header {
    padding: 2px 18px;
    top: 6px;
    z-index: 2;
    height: 28px;
    font-size: 13px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.content, .title {
    top: 50px; 
    bottom: 5px; 
    overflow: auto;
}
.header, .content { left: 10px; }
.header, .title { right: 15px; }
.content {
    right: calc(28px + var(--title-panel-width));
    padding: 9px 18px;
}
.refresh {
    position: absolute;
    top: 54px;
    right: calc(31px + var(--title-panel-width));
}

.header > div {
    /* display: inline-block; */
}
.logo {
    cursor: pointer;
    font-family: RainbowParty;
    user-select: none;
}
.header-split {
    margin: 0 5px;
    width: 1px;
    height: 100%;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px;
    mask: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 10%, 
        rgba(0, 0, 0, 0.1) 20%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 1) 50%, 
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 0.1) 80%,
        rgba(0, 0, 0, 0) 90%
    ) border-box;
}
.tag-container {
    line-height: 20px;
    width: 100%;
    overflow: auto hidden;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center; /* 垂直居中 */
}
.tag_group {
    margin-left: 10px;
    /* border-bottom: 1px solid greenyellow; */
}
.tag_group_name {
    font-size: 10px;
}
.tag {
    padding: 1px 5px;
    margin: 0 1px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
}
.tag:hover {
    background-color: rgba(222, 222, 222, 0.2);
}
.tag-active {
    background-color: rgba(22, 22, 22, 0.3) !important;
}

menu {
    background-color: #312b2b99;
    box-shadow: #b9adad9e 0px 0px 8px 0px;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 35px;
    padding: 5px 0px;
    z-index: 99;
    font-size: 14px;
    overflow: hidden auto;
    width: fit-content;
    max-height: calc(100% - 77px);
    padding: 10px;
    border-radius: 20px;
}
menu ul {
    padding: 5px 0px 5px 22px;
}
menu ol {
    padding-left: 22px;
}
menu ol > li {
    cursor: pointer;
}
menu ol > li:hover {
    color: greenyellow;
}

.content pre {
    background-color: #0000004f;
    border-radius: 5px;
    padding: 8px;
    white-space: pre-wrap;
    position: relative;
}

.content img {
    max-width: 100%;
}
code ol {
    margin: 0;
}

.content ol li::marker {
   color: #80ff00;
}

.language-tip {
    position: absolute;
    right: 5px;
    top: 5px;
    color: gray;
    font-size: 12px;
    user-select: none;
}

.title {
    width: var(--title-panel-width);
    /* color: #cecbcb; */
    font-size: 14px;
    padding: 6px 12px;
}
.title > div {
    cursor: pointer;
    border-left: 4px solid #a8a5a5;
    border-image: linear-gradient( 
        to bottom, 
        transparent 15%, 
        #a8a5a5 15%,
        #a8a5a5 90%,
        transparent 90% 
        ) 1;
    margin-top: 4px;
    padding-left: 3px;
    line-height: 16px;
}
.title > div:hover {
    background-color: rgba(255,255,255, 0.1);
}
.title-1 {
    font-size: 18px;
    color: #08ff00;
    border: none !important;
    padding: 0 !important;
}
.title-2 {
}
.title-3 {margin-left: 20px;}
.title-4 {margin-left: 40px;}
.title-5 {margin-left: 60px;}
.title-6 {margin-left: 80px;}

/* .title-1 { color: red;} */
/* .title-2 { color: orange;} */
/* .title-3 { color: yellow;} */
/* .title-4 { color: green;} */
/* .title-5 { color: blue;} */
/* .title-6 { color: purple;} */

.copy {
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    background: gray;
    color: white;
    cursor: pointer;
}

blockquote {
    padding: 8px 20px;
}
.ly_germ {
    opacity: 0.3;
}

:root {
    --search-zindex: 9;
    --search-padding-x: 10px;
    --search-width: 90%;
    --search-top: 1%;
}

.search-btn {
    margin-left: 8px;
    /* 宽高比 */
    aspect-ratio: 1;
    min-width: 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #ffffff57;
}

.search-box {
    top: var(--search-top);
    width: var(--search-width);
    max-height: 96%;
    left: 5%;
    padding: var(--search-padding-x);
    overflow: auto;
    /* box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4); */
    box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.5);
    z-index: var(--search-zindex);
}

.search-input {
    position: fixed;
    z-index: calc(var(--search-zindex) + 1);
    top: calc(var(--search-top) * 1.5);
    left: calc((100% - var(--search-width))/2 + var(--search-padding-x));
    width: calc(var(--search-width) - var(--search-padding-x) * 2);
    color: white;
    font-size: 15px;
    padding: 8px 10px;
    border-width: 0;
    border-radius: 5px;
    outline: none;
    background-color: hsla(240, 3%, 12.9%, 0.35) !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border-top: 1px solid hsla(0, 0%, 0%, 0.15);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

.search-input-bottom {
    height: 40px;
}

.search-high-light {
    color: #10f900;
}

.search-item-select {
    background-color: #252525 !important;
}

.search-item {
    padding: 5px;
    font-size: 13px;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.search-item:hover {
    background-color: #62626230;
}

.search-item-title {
    color: white;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-item-line {
    color: #b7b2b2;
    white-space: nowrap; /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis; /* 显示省略号 */
}