<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>LY`s</title>

    <link rel="stylesheet" href="https://resource-8fp.pages.dev/css/effect/wag.css"/>
    <!-- 亮 花花 -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/liuyaocool/jslib/highlight.11.9.0/styles/gradient-dark.min.css"/> -->
    <!-- 暗花花 -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/liuyaocool/jslib/highlight.11.9.0/styles/night-owl.min.css"/> -->
    <!-- 淡 蓝 系 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css"/>
    <link rel="stylesheet" href="theme.css"/>
    <link rel="stylesheet" href="css/iconfont.css"/>

    <!-- <script src="https://resource-8fp.pages.dev/js/my/util.js"></script> -->
    <script src="https://resource.liuyao.link/js/my/util.js?v=0.1"></script>
    <!-- <script src="http://resource.localhost/js/my/util.js"></script> -->
    <script>includeCss('index.css?v=0.1', 'mobile.css?v=0.2');</script>
</head>
<body>
<div id="app">
        <div class="panel header">
            <div esc-ex class="logo" @click="openMenu()">LY</div>
            <div esc-ex class="search-btn iconfont icon-search" @click="openSearch()"></div>
            <div class="header-split"></div>
            <div class="tag-container">
                <div v-for="(v_tags, parent) in tags" class="tag_group">
                    <span class="tag_group_name">{{parent}}: </span>
                    <div class="tag" :class="k_path == currentPath ? 'tag-active' : ''" v-for="(v_name, k_path) in v_tags" @click="openArticle(k_path)">{{v_name}}</div>
                </div>
            </div>
            <div class="title-open" v-show="!isPc" @click="showTitle=!showTitle">{{windowwidth}}</div>
        </div>
        <menu v-show="showMenu"><ul id="menu_list"></ul></menu>
        <div class="panel content" v-for="(v, k) in articles" v-show="k == currentPath" v-html="v.html"></div>
        <div v-show="isLocal" @click="refresh()" class="copy refresh">刷新</div>
        <div class="panel title" v-for="(v, k) in articles" v-show="showTitle && k == currentPath">
            <div v-for="(v2, k2) in v.titles" :style="v2.style" :class="'title-'+v2.level" @click="jumpTo(v2.id)">{{v2.name}}</div>
        </div>
    
    <input esc-ex class="search-input panel" type="text"
        ref="searchInput" v-show="showSearch"
        @input="doSearch($event)"
        @keydown.up.exact.prevent="searchNext(-1)"
        @keydown.down.exact.prevent="searchNext(1)"
        @keydown.enter.exact.prevent="searchEnter"
        placeholder="space for and， char >= 2">
    <div class="search-box panel" v-show="showSearch" esc-ex>
        <div class="search-input-bottom"></div>
        <div v-for="(row, i) in searchList" class="search-item" 
            @click="openArticle(row.path)"
            :class="i == searchIdx ? 'search-item-select' : ''">
            <div v-html="row.title" class="search-item-title"></div>
            <div v-for="(line, i) in row.linesHL" v-html="line" class="search-item-line"></div>
        </div>
    </div>

</div>
<!-- <script src="https://cdn.jsdelivr.net/gh/liuyaocool/jslib/vue/vue3.global.js"></script> -->
<!-- <script src="https://unpkg.com/vue@3.4.25/dist/vue.global.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.4/vue.global.min.js"></script>
<!-- markdown parse -->
<!-- <script src="https://unpkg.com/markdown-it@14.1.0/dist/markdown-it.min.js"></script> -->
<script src="https://resource.liuyao.link/js/md/markdown-it.14.0.0.min.js"></script>

<!-- <script src="https://hello.61linux.com/jslib/markdown/markdown-it.14.0.0.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/gh/liuyaocool/hello/jslib/markdown/markdown-it.14.0.0.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"></script> -->
<!-- code highlight -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!-- code highlight support language -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/c.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/cpp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/nginx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/properties.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/groovy.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/vim.min.js"></script>

<script src="index.js?v=0.2"></script>

<!-- <script>const ly_germ_color = [[0, 20], [0, 20], [0, 20]];</script> -->
<!-- <script src="https://resource-8fp.pages.dev/js/effect/bgRgbDown.js" defer></script> -->
<!-- <script src="https://resource-8fp.pages.dev/js/effect/mouseGerm.js" defer></script> -->
<style>
    body {
        background-image: url(https://resource.liuyao.link/img/coding.jpg);
        background-position: center;
        /* background-size: contain; */
    }
</style>

</body>
</html>