:root {
    --top-h: 6vw;
}
/* h1 { font-size: 6vw; }
h2 { font-size: 4.5vw; }
h3 { font-size: 3.5vw; }
h4 { font-size: 3vw; }
*/
body {
    color: white;
}
.header {
    height: var(--top-h);
    font-size: 3vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.logo, .title-open {
    height: 100%;
    line-height: var(--top-h);
    padding: 0 2vw;
}

.header-split {
    margin: 0 1vw;
    /* width: 1px; */
    height: 100%;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px;
    mask: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 10%, 
        rgba(0, 0, 0, 0.1) 20%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 1) 50%, 
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 0.1) 80%,
        rgba(0, 0, 0, 0) 90%
    ) border-box;
}
.tag-container {
    line-height: 20px;
    width: 100%;
    overflow: auto hidden;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center; /* 垂直居中 */
}
.tag_group {
    margin-left: 10px;
    display: inline-block;
}
.tag_group_name {
    font-size: 2vw;
}
.tag {
    padding: 1px 5px;
    margin: 0 1px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
}
.tag-active {
    background-color: rgba(22, 22, 22, 0.3) !important;
}

menu, .title {
    background-color: #312b2b99;
    box-shadow: #b9adad9e 0px 0px 8px 0px;
    backdrop-filter: blur(8px);
    position: fixed;
    top: var(--top-h);
    z-index: 99;
    overflow: hidden auto;
    max-height: calc(100% - var(--top-h));
    margin: 0;
    max-width: 100%;
}
menu {
    font-size: 4vw;
    padding: 3vw 2vw;
}
menu ul {
    padding: 0 0 0 4vw;
}
menu ol {
    padding-left: 6vw;
    font-size: 3vw;
}
menu ol > li {
    color: #c6c6c6;
}

.content {
    height: calc(100% - 7vw);
    overflow: auto;
    margin-top: 1vw;
    padding: 0 2vw;
    font-size: 3vw;
}

.content ul, .content ol {
    padding: 0 0 0 6vw;
}

.refresh {
    position: absolute;
    top: 26px;
    right: 2px;
}

blockquote {
    padding: 0.1vw 3vw;
}

.content pre {
    background-color: #0000004f;
    border-radius: 5px;
    padding: 1vw;
    white-space: pre-wrap;
    position: relative;
}

.content img {
    max-width: 100%;
}
code ol {
    margin: 0;
}

.content ol li::marker {
   color: #80ff00;
}

.language-tip {
    position: absolute;
    right: 1vw;
    top: 1vw;
    color: gray;
    font-size: 2vw;
    user-select: none;
}

.title {
    right: 0;
    color: #cecbcb;
    padding: 4vw;
    font-size: 3vw;
}

.title-1 {
    font-size: 4vw;
    color: #08ff00;
    /* border-top: solid 1px white; */
}
.title-3 {margin-left: 3vw;}
.title-4 {margin-left: 6vw;}
.title-5 {margin-left: 9vw;}
.title-6 {margin-left: 12vw;}

.copy {
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    background: gray;
    color: white;
    cursor: pointer;
}