body, html, #app {
    margin: 0;
    height: 100%;
    position: relative;
}
html {
    background-color: black;
}
body * {
    box-sizing: border-box;
}
a {
    color: #f2c100;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: #4848487d;
}
th, td {
    border: 1px solid #9d9b9b;
    padding: 2px 5px;
    text-align: center;
}
code {
    font-family: "source code pro";
}
code:not([class]) {
    color: aqua;
}
.panel {
    /* background-color: rgba(52, 66, 63, 0.4); */
    background-color: rgba(23, 31, 38, 0.6);
    backdrop-filter: blur(29px);
}
blockquote {
    background-color: #6866666e;
    margin: 0;
    border-left: 5px solid gray;
}
strong {
    color: #f6fb5b;
}